body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    color: brown;
}

form{
    width: 400px;
    height: 200px;
    margin: auto;
    background: white;
    padding: 20px;
    border: 2px solid rgb(7, 6, 74);
    border-radius: 7px;
}

input[type="text"],
input[type="password"]{
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"]{
    background-color: darkblue;
    color: aliceblue;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
}
